:root {
  --color-primary: #A9A9A9;
  --default: #E0E0E0;
  --primary: #2962FF;
  --secondary: #455A64;
  --danger: #D32F2F;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #33333333;
}

.container {
  margin: 1rem;
  padding: 1rem;
}

.hstack {
  display: flex;
}

.vstack {
  display: grid;
}

a,
.text-muted {
  color: var(--color-primary);
  text-decoration: none;
}